body{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(rgb(199, 248, 203,1),rgba(199, 248, 203,0.5));
}

.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(3, 146, 99);
}

.container h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    /*background: url(background.jpg);*/
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
}
.container a{
    text-decoration: none;
    background: rgb(73, 187, 149);
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}
.container a:hover{
    background: rgb(3, 146, 99);
}